body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(226, 162, 52);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.inputWord {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25%;
  font-size: 3rem;
  color: rgb(224, 38, 196);
  font-family: sans-serif;
}
.inputWordField {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 35%;
}
